= simple_form_for(@informalidade) do |f|

  .form-inputs
    = f.input :titulo
    = f.input :descricao
    = f.association :prestador, label_method: :nome
    = f.association :cliente, label_method: :nome

  .form-actions
    = f.submit 'Save'
